<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Bienvenido a la app de notas</h1>
  <a href="/usuarios/login">Login</a>
  <a href="/usuarios/register">Registro</a>
  <a href="/notas/">Administrar notas</a>
</body>
</html>