<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Listar notas</h1>
  <table border>
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Titulo</th>
        <th>Descripción</th>
        <th>Prioridad</th>
        <th>Nivel de acceso</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% // aqui va la logica para renderizar los datos %>
    </tbody>
  </table>
</body>
</html>